* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

header, footer {
    text-align: center;
    background-color: #000000cc;
    padding: 20px;
    position: relative;
    z-index: 5;
}

nav {
    background-color: #111;
    padding: 10px;
    text-align: center;
    z-index: 5;
    position: relative;
}

nav ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

nav a {
    color: #00ffff;
    text-decoration: none;
    font-weight: bold;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.bg1 {
    background-image: url('https://github.com/davidrobo2636/URK23CS1305_WEB_TECH_EXP1/blob/8c48ec0d5facbaf377c661918fa44998e38544e4/download11.jpeg');
    opacity: 1;
}

.bg2 {
    background-image: url('download2.jpeg');
}

.bg3 {
    background-image: url('download3.jpeg');
}
.bg4 {
    background-image: url('download4.jpeg');
}
.content {

    height: 100vh;
    padding: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

h1, h2 {
    margin-bottom: 20px;
}

p, ul, ol {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}
